Repository jelmore1674/build-changelog: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, test, changelog

build:
  stage: build
  before_script:
  - corepack enable
  - pnpm config set store-dir .pnpm-store
  - pnpm install --frozen-lockfile
  script:
  - pnpm lint
  - pnpm build
  cache:
    key:
      files:
      - pnpm-lock.yaml
    paths:
    - dist
    - .pnpm-store
    - node_modules

test:
  stage: test
  needs:
  - build
  before_script:
  - corepack enable
  - pnpm config set store-dir .pnpm-store
  script:
  - pnpm test:coverage
  cache:
    key:
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
  artifacts:
    paths:
    - coverage/
  ...

changelog:
  stage: changelog
  before_script:
  - git config user.name "CI Pipeline"
  - git config user.email "cipipeline@gitlab.justinelmore.dev"
  - git remote rm ci_origin || true
  - git remote add ci_origin $CI_REPOSITORY_URL
  - corepack enable
  - pnpm config set store-dir .pnpm-store
  ...

remove dockerfile (#32)
  Dockerfile
Due: none

update docs
  README.md
Due: none

let generate run just the command not action
  src/index.ts
Due: build, test

update readme
  README.md
Due: none

test setting a version to update all unreleased
  action.yml
  src/actions/generate.ts
  src/lib/generate.ts
Due: none

try setting version before releasing
  .github/workflows/changelog.yml
  .github/workflows/release.yml
Due: none

update changelog
  changelog/release.yaml
Due: none

update version
  src/actions/generate.ts
Due: none

fix enforcer again
  src/actions/enforcer.ts
  src/lib/generate.ts
Due: none

remove async
  src/actions/enforcer.ts
  src/lib/generate.ts
Due: none

Updated distributed actions.
  enforcer/index.js
  generate/index.js
  notes/index.js
Due: none

Feature/update unreleased when variable passed (#34)
  .github/workflows/changelog.yml
  .github/workflows/release.yml
  action.yml
  changelog/release.yaml
  enforcer/index.js
  generate/index.js
  notes/index.js
  src/actions/enforcer.ts
  src/actions/generate.ts
  src/lib/generate.ts
Due: none

fix prefix
  changelog/prefix.yml
  src/actions/generate.ts
Due: changelog

fix cleaned version prefix regex lint
  src/actions/generate.ts
Due: none

Updated distributed actions.
  generate/index.js
Due: none

fix prefix (#35)
  changelog/prefix.yml
  generate/index.js
  src/actions/generate.ts
Due: changelog

give perms to release action
  .github/workflows/release.yml
Due: none

update version when passed in
  changelog/version.yml
  src/actions/generate.ts
  src/lib/generate.ts
  src/lib/parseChangelog.ts
Due: changelog

update version when passed in (#36)
  changelog/version.yml
  enforcer/index.js
  generate/index.js
  notes/index.js
  src/actions/generate.ts
  src/lib/generate.ts
  src/lib/parseChangelog.ts
Due: changelog

fix workflow and fix setting date inadvertently
  .github/workflows/release.yml
  CHANGELOG.md
  src/lib/generate.ts
Due: none

fix workflow and fix setting date inadvertently (#37)
  .github/workflows/release.yml
  CHANGELOG.md
  enforcer/index.js
  generate/index.js
  notes/index.js
  src/lib/generate.ts
Due: none

fix action generating date
  CHANGELOG.md
  enforcer/index.js
  generate/index.js
  notes/index.js
  src/lib/generate.ts
  src/lib/parseChangelog.ts
Due: none

fix workflow
  .github/workflows/release.yml
Due: none

move config to inputs
  README.md
  action.yml
  src/actions/generate.ts
  src/lib/generate.test.ts
  src/lib/generate.ts
  src/lib/mustache.ts
Due: none

update changelog
  .github/workflows/changelog.yml
  changelog/action-config.yml
Due: changelog

fix build error
  src/lib/init.ts
Due: none

Feature/config (#38)
  .github/workflows/changelog.yml
  README.md
  action.yml
  changelog/action-config.yml
  enforcer/index.js
  generate/index.js
  notes/index.js
  src/actions/generate.ts
  src/lib/generate.test.ts
  src/lib/generate.ts
  src/lib/init.ts
  src/lib/mustache.ts
Due: changelog

add changelog
  changelog/dprint.yml
Due: changelog

update changelog
  changelog/yaml.yml
Due: changelog

remove archive
  changelog/archive.toml
Due: changelog

updaet changelog
  changelog/vitest.yaml
Due: none

remove changelog archive
  README.md
  action.yml
  changelog/archive.toml
  enforcer/index.js
  generate/index.js
  notes/index.js
  src/actions/generate.ts
  src/index.ts
  src/lib/generate.test.ts
  src/lib/generate.ts
  src/lib/mustache.ts
Due: build, test, changelog

update pnpm changelog
  changelog/pnpm.yml
Due: changelog

add notes output
  action.yml
  src/actions/generate.ts
Due: none

bump version
  package.json
Due: none

Path conditions:
  build: any of: src/*
  test: any of: src/*
  changelog: any of: changelog/*.yml, changelog/*.toml
