Repository jelmore1674/build-changelog: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, test, changelog

build:
  stage: build
  before_script:
  - corepack enable
  - pnpm config set store-dir .pnpm-store
  - pnpm install --frozen-lockfile
  script:
  - pnpm lint
  - pnpm build
  cache:
    key:
      files:
      - pnpm-lock.yaml
    paths:
    - dist
    - .pnpm-store
    - node_modules

test:
  stage: test
  needs:
  - build
  before_script:
  - corepack enable
  - pnpm config set store-dir .pnpm-store
  script:
  - pnpm test:coverage
  cache:
    key:
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
  artifacts:
    paths:
    - coverage/
  ...

changelog:
  stage: changelog
  before_script:
  - git config user.name "CI Pipeline"
  - git config user.email "cipipeline@gitlab.justinelmore.dev"
  - git remote rm ci_origin || true
  - git remote add ci_origin $CI_REPOSITORY_URL
  - corepack enable
  - pnpm config set store-dir .pnpm-store
  ...

log
  src/lib/generate/index.ts
Due: none

Updated distributed actions.
  enforcer/index.js
  generate/index.js
Due: none

fix dum dum
  src/lib/generate/index.ts
Due: none

update generate
  src/lib/generate/index.ts
  src/lib/generate/test/index.ts
Due: none

Feature/change prop (#116)
  README.md
  action.yml
  changelog/change.yml
  enforcer/index.js
  generate/index.js
  schemas/changlelog.json
  src/actions/generate.ts
  src/consts.ts
  src/lib/config/index.ts
  src/lib/generate/index.test.ts
  src/lib/generate/index.ts
  src/lib/generate/test/index.ts
  src/types.ts
  src/utils/autoIncrementUnreleasedChanges/index.test.ts
  src/utils/autoIncrementUnreleasedChanges/index.ts
Due: build, test, changelog

fix name
  enforcer/index.js
  src/actions/utils/compareChangelogs/index.ts
  src/actions/utils/getAuthorName/index.test.ts
  src/actions/utils/getAuthorName/index.ts
Due: none

more logging
  enforcer/index.js
  src/actions/utils/getAuthorName/index.ts
Due: none

log
  enforcer/index.js
  src/actions/utils/getAuthorName/index.ts
Due: none

Updated distributed actions.
  generate/index.js
Due: none

fix author name
  enforcer/index.js
  src/actions/utils/getAuthorName/index.test.ts
  src/actions/utils/getAuthorName/index.ts
Due: none

remove log
  src/actions/utils/compareChangelogs/index.ts
Due: none

fix
  changelog/fix.yml
Due: changelog

concurrency
  .github/workflows/build.yml
Due: none

Updated distributed actions.
  enforcer/index.js
Due: none

fix name (#119)
  .github/workflows/build.yml
  changelog/fix.yml
  enforcer/index.js
  generate/index.js
  src/actions/utils/compareChangelogs/index.ts
  src/actions/utils/getAuthorName/index.test.ts
  src/actions/utils/getAuthorName/index.ts
Due: changelog

dependabot ymnl
  .github/dependabot.yml
Due: none

Updated distributed actions.
  enforcer/index.js
  generate/index.js
  notes/index.js
Due: none

use tuple for tryCatch
  src/actions/utils/botCommentOnPr/index.ts
  src/actions/utils/compareChangelogs/index.ts
  src/actions/utils/getPullRequestInfo/index.ts
  src/actions/utils/getReferencesFromBody/index.ts
  src/utils/tryCatch/index.ts
Due: none

test post action
  enforcer/action.yml
  enforcer/index.js
  src/enforcer.ts
Due: build, test

test
  enforcer/index.js
  src/enforcer.ts
Due: build, test

add emojis
  enforcer/index.js
  src/actions/enforcer.ts
  src/actions/utils/compareChangelogs/index.ts
Due: none

udpate emoji
  enforcer/index.js
  src/actions/utils/compareChangelogs/index.ts
Due: none

update emojis
  enforcer/index.js
  src/actions/utils/compareChangelogs/index.ts
Due: none

add chalk
  enforcer/index.js
  package.json
  pnpm-lock.yaml
  src/lib/generate/index.ts
Due: none

ansi256
  enforcer/index.js
  src/lib/generate/index.ts
Due: none

force color
  enforcer/index.js
  src/enforcer.ts
Due: build, test

force color 1
  enforcer/index.js
  src/enforcer.ts
Due: build, test

try this env
  .github/workflows/enforcer.yml
  enforcer/index.js
  src/enforcer.ts
Due: build, test

test without force color
  .github/workflows/enforcer.yml
  enforcer/action.yml
  enforcer/index.js
  src/lib/generate/index.ts
Due: none

fix action
  enforcer/action.yml
Due: none

log
  enforcer/index.js
Due: none

update logs
  enforcer/index.js
  src/lib/generate/index.ts
Due: none

test
  enforcer/index.js
  src/lib/generate/index.ts
Due: none

test nested logs
  enforcer/index.js
  src/actions/utils/compareChangelogs/index.ts
Due: none

log
  enforcer/index.js
  src/actions/utils/compareChangelogs/index.ts
  src/lib/generate/index.ts
Due: none

log
  enforcer/index.js
  src/actions/utils/compareChangelogs/index.ts
Due: none

update messages
  changelog/update.yml
  enforcer/index.js
  generate/index.js
  package.json
  pnpm-lock.yaml
  src/actions/utils/compareChangelogs/index.ts
  src/enforcer.ts
  src/lib/generate/index.ts
Due: build, test, changelog

Path conditions:
  build: any of: src/*
  test: any of: src/*
  changelog: any of: changelog/*.yml, changelog/*.toml
