Repository jelmore1674/build-changelog: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, test, changelog

Path conditions:
  build: any of: src/*
  test: any of: src/*
  changelog: any of: changelog/*.yml, changelog/*.toml

test changelog (#14)
  changelog/test.yml
Due: changelog

test
  changelog/test.yml
  src/generate.ts
Due: build, test, changelog

Updated distributed actions.
  enforcer/index.js
  generate/index.js
Due: none

test (#15)
  CHANGELOG.md
  changelog/test.yml
  enforcer/index.js
  generate/index.js
  src/generate.ts
Due: build, test, changelog

test recursion
  CHANGELOG.md
  changelog/test.yaml
  src/generate.ts
Due: build, test

set up stopgap
  src/generate.ts
Due: build, test

be more specific
  src/generate.ts
Due: build, test

test
  src/generate.ts
Due: build, test

test recursion (#16)
  CHANGELOG.md
  changelog/test.yaml
  enforcer/index.js
  generate/index.js
  src/generate.ts
Due: build, test

update changelog
  changelog/test.yaml
Due: none

Fix/test (#17)
  changelog/test.yaml
  enforcer/index.js
  generate/index.js
  src/generate.ts
Due: build, test

adjust perms
  .github/workflows/changelog.yml
  changelog/test.yaml
Due: none

adjust perms (#18)
  .github/workflows/changelog.yml
  CHANGELOG.md
  changelog/test.yaml
Due: none

fix pr reference
  CHANGELOG.md
  src/lib/generate.ts
Due: none

fix pr auto referencing
  changelog/fix.yaml
  src/generate.ts
Due: build, test

Updated distributed actions.
  enforcer/index.js
  generate/index.js
  notes/index.js
Due: none

Feature/auto pr ref (#19)
  CHANGELOG.md
  enforcer/index.js
  generate/index.js
  notes/index.js
  src/generate.ts
  src/lib/generate.ts
Due: build, test

rename workflow to Enforce Changelog
  .github/workflows/enforcer.yml
Due: none

add test for coAuthors
  src/generate.ts
Due: build, test

update docs
  README.md
Due: none

add changelog
  changelog/test.yaml
Due: none

log commit
  enforcer/index.js
  generate/index.js
  src/generate.ts
Due: build, test

update odcs
  changelog/README.md
Due: none

test
  enforcer/index.js
  generate/index.js
  src/generate.ts
Due: build, test

remove permissions
  .github/workflows/enforcer.yml
Due: none

update enforcer
  .github/workflows/enforcer.yml
Due: none

update build workflow
  .github/workflows/build.yml
Due: none

fix linting
  src/generate.ts
Due: build, test

try this workflow
  .github/workflows/build.yml
Due: none

test
  .github/api/createCommitOnBranch.gql
  .github/workflows/build.yml
Due: none

update workflow
  .github/workflows/changelog.yml
Due: none
