Repository jelmore1674/build-changelog: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, test, changelog

build:
  stage: build
  before_script:
  - corepack enable
  - pnpm config set store-dir .pnpm-store
  - pnpm install --frozen-lockfile
  script:
  - pnpm lint
  - pnpm build
  cache:
    key:
      files:
      - pnpm-lock.yaml
    paths:
    - dist
    - .pnpm-store
    - node_modules

test:
  stage: test
  needs:
  - build
  before_script:
  - corepack enable
  - pnpm config set store-dir .pnpm-store
  script:
  - pnpm test:coverage
  cache:
    key:
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
  artifacts:
    paths:
    - coverage/
  ...

changelog:
  stage: changelog
  before_script:
  - git config user.name "CI Pipeline"
  - git config user.email "cipipeline@gitlab.justinelmore.dev"
  - git remote rm ci_origin || true
  - git remote add ci_origin $CI_REPOSITORY_URL
  - corepack enable
  - pnpm config set store-dir .pnpm-store
  ...

add missing bit to changelog
  CHANGELOG.md
Due: none

add logging
  src/generate.ts
Due: build, test

Updated distributed actions.
  enforcer/index.js
  generate/index.js
Due: none

Fix/changelog (#5)
  CHANGELOG.md
  enforcer/index.js
  generate/index.js
  src/generate.ts
Due: build, test

test changelog entry from pr
  changelog/test.yaml
Due: none

test changelog entry from pr (#6)
  CHANGELOG.md
Due: none

automatically link pull requests by default
  src/generate.ts
  src/lib/config.ts
  src/lib/generate.ts
Due: build, test

update build
  enforcer/index.js
  generate/index.js
  notes/index.js
Due: none

update changelog
  CHANGELOG.md
  changelog/references.yaml
Due: none

fix empty prNumber
  enforcer/index.js
  generate/index.js
  src/lib/generate.ts
Due: none

Updated distributed actions.
  notes/index.js
Due: none

Feature/pr reference (#7)
  CHANGELOG.md
  changelog/references.yaml
  enforcer/index.js
  generate/index.js
  notes/index.js
  src/generate.ts
  src/lib/config.ts
  src/lib/generate.ts
Due: build, test

fix issues not working
  enforcer/index.js
  generate/index.js
  src/generate.ts
  src/lib/generate.ts
Due: build, test

fix issues not working (#8)
  changelog/references.yaml
  enforcer/index.js
  generate/index.js
  src/generate.ts
  src/lib/generate.ts
Due: build, test

add fallback to empty array
  src/lib/generate.ts
Due: none

update workflow
  .github/workflows/changelog.yml
Due: none

update builds
  enforcer/index.js
  generate/index.js
  notes/index.js
Due: none

Fix/pr references again (#9)
  .github/workflows/changelog.yml
  enforcer/index.js
  generate/index.js
  notes/index.js
  src/lib/generate.ts
Due: none

optionally return number
  src/generate.ts
Due: build, test

update changelog
  changelog/references.yaml
Due: none

Fix/pr (#10)
  CHANGELOG.md
  changelog/references.yaml
  enforcer/index.js
  generate/index.js
  src/generate.ts
Due: build, test

add test changelog
  changelog/test.yaml
Due: none

add log
  src/generate.ts
Due: build, test

add test changelog (#11)
  CHANGELOG.md
  enforcer/index.js
  generate/index.js
  src/generate.ts
Due: build, test

test
  src/generate.ts
Due: build, test

add test cl
  changelog/test.yaml
Due: none

fix
  src/generate.ts
Due: build, test

trim sha
  src/generate.ts
Due: build, test

use ctx.sha
  src/generate.ts
Due: build, test

add changelog
  changelog/test.yaml
  src/generate.ts
Due: build, test

fix lint
  src/generate.ts
Due: build, test

test (#13)
  CHANGELOG.md
  enforcer/index.js
  generate/index.js
  src/generate.ts
Due: build, test

test changelog
  changelog/test.yml
Due: changelog

Path conditions:
  build: any of: src/*
  test: any of: src/*
  changelog: any of: changelog/*.yml, changelog/*.toml
