Repository jelmore1674/build-changelog: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, test, changelog

Path conditions:
  build: any of: src/*
  test: any of: src/*
  changelog: any of: changelog/*.yml, changelog/*.toml

fix enforcer
  enforcer/index.js
  generate/index.js
  src/actions/enforcer.ts
  src/index.ts
  src/lib/generate.ts
Due: build, test

add a comment if changelog fails
  enforcer/index.js
  src/actions/enforcer.ts
Due: none

try finding comment
  enforcer/index.js
  src/actions/enforcer.ts
Due: none

log comments
  enforcer/index.js
  src/actions/enforcer.ts
Due: none

update or add comment
  enforcer/index.js
  src/actions/enforcer.ts
Due: none

update comment
  enforcer/index.js
  src/actions/enforcer.ts
Due: none

this should update the comment
  enforcer/index.js
  src/actions/enforcer.ts
Due: none

tag actor
  enforcer/index.js
  src/actions/enforcer.ts
Due: none

test enforcer
  src/actions/enforcer.ts
  src/lib/generate.ts
  src/utils/getChangeCount.ts
Due: none

add latest change via comment
  changelog/test.yml
  enforcer/index.js
  generate/index.js
  src/actions/enforcer.ts
  src/index.ts
  src/lib/generate.ts
Due: build, test, changelog

log latestChanges
  enforcer/index.js
  generate/index.js
  src/lib/generate.ts
Due: none

try adding changes directly
  enforcer/index.js
  src/actions/enforcer.ts
Due: none

log
  enforcer/index.js
  src/actions/enforcer.ts
Due: none

try skppig
  enforcer/index.js
  src/actions/enforcer.ts
  src/lib/generate.ts
Due: none

try without code block
  enforcer/index.js
  src/actions/enforcer.ts
Due: none

clean up linting and update changelog
  README.md
  changelog/pr-comments.yml
  changelog/test.yml
  enforcer/action.yml
  enforcer/index.js
  src/actions/enforcer.ts
  src/actions/utils/compareChangelogs.ts
  src/utils/getChangeCount.ts
Due: changelog

update actions
  .github/workflows/enforcer.yml
  enforcer/index.js
  generate/index.js
Due: none

Feature/comment on pr (#95)
  .github/workflows/enforcer.yml
  README.md
  changelog/pr-comments.yml
  enforcer/action.yml
  enforcer/index.js
  generate/index.js
  src/actions/enforcer.ts
  src/actions/utils/compareChangelogs.ts
  src/index.ts
  src/lib/generate.ts
  src/utils/getChangeCount.ts
Due: build, test, changelog

fix missing input
  README.md
  changelog/fix.yml
  enforcer/action.yml
Due: changelog

fix missing input (#97)
  README.md
  changelog/fix.yml
  enforcer/action.yml
Due: changelog

fix commit hash issue.
  changelog/commit.yml
  src/lib/generate.ts
Due: changelog

Updated distributed actions.
  enforcer/index.js
  generate/index.js
Due: none

fix commit hash issue. (#98)
  changelog/commit.yml
  enforcer/index.js
  generate/index.js
  src/lib/generate.ts
Due: changelog

pipes
  changelog/change.yml
  src/lib/generate.ts
Due: changelog

update changelog
  changelog/change.yml
Due: changelog

test referencing issue
  changelog/change.yml
Due: changelog

update changelog message
  changelog/change.yml
Due: changelog

pipes (#100)
  changelog/change.yml
  enforcer/index.js
  generate/index.js
  src/lib/generate.ts
Due: changelog

log pr body
  src/actions/utils/getPrNumber.ts
Due: none

build actions
  enforcer/index.js
  generate/index.js
Due: none

test getting pr body regex
  enforcer/index.js
  generate/index.js
  src/actions/utils/getPrNumber.ts
Due: none

log groups
  enforcer/index.js
  src/actions/utils/getPrNumber.ts
Due: none

update log
  enforcer/index.js
  src/actions/utils/getPrNumber.ts
Due: none

Updated distributed actions.
  generate/index.js
Due: none

add support for pr body referecne
  changelog/test.yml
  enforcer/index.js
  generate/index.js
  src/actions/generate.ts
  src/actions/utils/compareChangelogs.ts
  src/actions/utils/getPrNumber.ts
  src/actions/utils/getPrReferences.ts
  src/index.ts
  src/lib/generate.ts
Due: build, test, changelog

move generate to own directory
  src/lib/generate/index.test.ts
  src/lib/generate/index.ts
Due: none

move parseChanges to utils
  src/types.ts
  src/utils/parseChanges.ts
Due: build, test

update actions
  enforcer/index.js
  generate/index.js
Due: none
