Repository jelmore1674/build-changelog: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, test, changelog

Path conditions:
  build: any of: src/*
  test: any of: src/*
  changelog: any of: changelog/*.yml, changelog/*.toml

imporove testing
  src/index.ts
  src/lib/config.ts
  src/lib/generate.test.ts
  src/lib/mustache.ts
  src/lib/readline.test.ts
  src/lib/releaseNotes.test.ts
Due: build, test

update pipeline
  .gitlab-ci.yml
Due: none

update test
  src/lib/generate.test.ts
  src/lib/generate.ts
Due: none

update changelog
  changelog/archive.toml
  changelog/changes.toml
Due: changelog

update pipeline
  .gitlab-ci.yml
  changelog/changes.toml
Due: changelog

Generated Changelog [skip ci]
  CHANGELOG.md
  changelog/archive.toml
  changelog/changes.toml
Due: changelog

comment out command
  src/index.ts
Due: build, test

save chagnelog
  changelog/change.toml
Due: changelog

update archive
  changelog/archive.toml
Due: changelog

ignore log in test coverage
  vitest.config.mts
Due: none

move deps to dev deps
  package.json
  pnpm-lock.yaml
Due: none

make biome stricter
  biome.json
Due: none

update bcl config
  bcl.toml
  src/index.ts
Due: build, test

update guide template
  templates/guide.md
Due: none

update templates
  templates/heading.md
  templates/links.md
  templates/version.md
Due: none

update to use console.info over console.log
  src/lib/releaseNotes.test.ts
  src/lib/releaseNotes.ts
  src/utils/log.ts
Due: none

add linking to releases
  src/lib/mustache.ts
Due: none

add parseChangelog
  src/lib/parseChangelog.test.ts
  src/lib/parseChangelog.ts
Due: none

update generate to new workflow
  src/lib/generate.test.ts
  src/lib/generate.ts
Due: none

udpate config
  src/lib/config.ts
Due: none

update schemas
  schemas/changlelog.json
  schemas/config.schema.json
Due: none

update init
  changelog/change.toml
  src/lib/init.test.ts
  src/lib/init.ts
Due: changelog

update generate test
  src/lib/generate.test.ts
Due: none

fix tests
  src/lib/generate.ts
Due: none

bump version
  CHANGELOG.md
  changelog/archive.toml
  changelog/change.toml
  package.json
Due: changelog

Generated Changelog
  CHANGELOG.md
  changelog/archive.toml
  changelog/change.toml
Due: changelog

test commit (!6)
  .gitlab-ci.yml
  CHANGELOG.md
  changelog/archive.toml
  package.json
Due: changelog

feature/update-pipelines (#19)
  .forgejo/workflows/build.yml
  .forgejo/workflows/changelog.yml
  .forgejo/workflows/deploy-docker.yml
  .forgejo/workflows/deploy-npm.yml
  .forgejo/workflows/release.yml
  .gitlab-ci.yml
  CHANGELOG.md
  bcl.toml
  changelog/archive.toml
  package.json
  src/index.ts
  src/lib/releaseNotes.test.ts
  src/lib/releaseNotes.ts
Due: build, test, changelog

chore: Update CHANGELOG.md
  CHANGELOG.md
  changelog/archive.toml
Due: changelog

fix/notes (#20)
  .forgejo/workflows/build.yml
  changelog/change.toml
  src/lib/mustache.ts
  src/lib/releaseNotes.test.ts
  src/lib/releaseNotes.ts
Due: changelog

chore: Update CHANGELOG.md
  CHANGELOG.md
  changelog/archive.toml
  changelog/change.toml
Due: changelog

bump version
  package.json
  src/index.ts
Due: build, test

test replace
  .forgejo/workflows/release.yml
Due: none

test/release (#21)
  .forgejo/workflows/release.yml
  changelog/archive.toml
  package.json
  src/index.ts
Due: build, test, changelog

add release dir
  .forgejo/workflows/release.yml
  changelog/archive.toml
  package.json
  release/RELEASE.md
  src/index.ts
Due: build, test, changelog

fix release dir
  .forgejo/workflows/release.yml
Due: none

test release
  .forgejo/workflows/release.yml
  changelog/archive.toml
  package.json
  release/RELEASE.md
  src/index.ts
Due: build, test, changelog
