Repository jelmore1674/build-changelog: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, test, changelog

Path conditions:
  build: any of: src/*
  test: any of: src/*
  changelog: any of: changelog/*.yml, changelog/*.toml

chore: Update CHANGELOG.md
  CHANGELOG.md
  changelog/archive.toml
  changelog/changelog.toml
Due: changelog

update readme
  README.md
Due: none

fix badges
  README.md
Due: none

update README badges
  README.md
Due: none

remove links
  README.md
Due: none

update action
  action.yml
Due: none

update action to use full path.
  action.yml
Due: none

update to use v1 tag so it matches the current version
  action.yml
  changelog/change.toml
Due: changelog

chore: Update CHANGELOG.md
  CHANGELOG.md
  changelog/archive.toml
  changelog/change.toml
Due: changelog

bump version
  changelog/archive.toml
  package.json
  src/index.ts
Due: build, test, changelog

chore: Update CHANGELOG.md
  CHANGELOG.md
  changelog/archive.toml
Due: changelog

fix release url
  .github/workflows/release.yml
Due: none

update release url
  bcl.toml
Due: none

chore: Update CHANGELOG.md
  CHANGELOG.md
Due: none

add code owners
  .github/CODEOWNERS
Due: none

Update README.md (#35)
  README.md
Due: none

move codeowners
  .github/CODEOWNERS
  CODEOWNERS
Due: none

Update README.md (#37)
  README.md
Due: none

chore(deps): update dependency commander to v13 (#38)
  package.json
  pnpm-lock.yaml
Due: none

feature/notice (#43)
  src/lib/generate.test.ts
  src/lib/generate.ts
  src/lib/mustache.ts
  src/lib/parseChangelog.test.ts
  src/lib/parseChangelog.ts
  templates/notice.md
  templates/version.md
Due: none

update changelog
  .github/workflows/build.yml
  changelog/notice.toml
Due: changelog

Updated distributed actions.
  generate/index.js
  generate/templates/notice.md
  generate/templates/version.md
Due: none

make workflow dispatchable
  .github/workflows/changelog.yml
Due: none

chore: Update CHANGELOG.md
  CHANGELOG.md
  changelog/archive.toml
  changelog/notice.toml
Due: changelog

add notice to 1.0.0
  changelog/archive.toml
Due: changelog

chore(deps): update dependency yaml to v2.7.0 (#46)
  generate/index.js
  package.json
  pnpm-lock.yaml
Due: none

feature/issue-pr-links (#47)
  .github/workflows/build.yml
  CHANGELOG.md
  bcl.toml
  changelog/actions-url.yml
  changelog/archive.toml
  changelog/author.yaml
  generate/index.js
  schemas/config.schema.json
  src/lib/config.ts
  src/lib/generate.test.ts
  src/lib/generate.ts
  src/lib/mustache.ts
Due: changelog

chore: Update CHANGELOG.md
  CHANGELOG.md
  changelog/actions-url.yml
  changelog/author.yaml
Due: changelog

fix/release-notes (#50)
  README.md
  changelog/fix.yml
  changelog/note-action.yml
  notes/action.yml
  notes/index.js
  notes/templates/change.md
  notes/templates/config.yml
  notes/templates/guide.md
  notes/templates/heading.md
  notes/templates/links.md
  notes/templates/notice.md
  notes/templates/release-notes.md
  notes/templates/version.md
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/lib/releaseNotes.ts
  src/notes.ts
Due: build, test, changelog

chore: Update CHANGELOG.md
  CHANGELOG.md
  changelog/fix.yml
  changelog/note-action.yml
Due: changelog

don't copy link references (#52)
  changelog/reflink.yml
  generate/index.js
  notes/index.js
  package.json
  src/index.ts
  src/lib/parseChangelog.test.ts
  src/lib/parseChangelog.ts
Due: build, test, changelog

chore: Update CHANGELOG.md
  CHANGELOG.md
  changelog/reflink.yml
Due: changelog

add changelog enforecer (#53)
  .github/workflows/build.yml
  .github/workflows/changelog.yml
  .github/workflows/enforcer.yml
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  changelog/enforcer.yml
  enforcer/action.yml
  enforcer/index.js
  generate/index.js
  notes/index.js
  package.json
  pnpm-lock.yaml
  src/enforcer.ts
  src/index.ts
  src/lib/parseChangelog.test.ts
  src/lib/parseChangelog.ts
Due: build, test, changelog

chore: Update CHANGELOG.md
  CHANGELOG.md
  changelog/enforcer.yml
Due: changelog

chore(deps): update dependency @types/node to v22.10.3 (#55)
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: none

Update LICENSE
  LICENSE
Due: none

fix prefixes being omitted (#60)
  LICENSE
  changelog/fix.yml
  generate/index.js
  notes/index.js
  src/lib/parseChangelog.test.ts
  src/lib/parseChangelog.ts
Due: changelog

chore: Update CHANGELOG.md
  CHANGELOG.md
  changelog/fix.yml
  package.json
  src/index.ts
Due: build, test, changelog
