Repository jelmore1674/build-changelog: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, test, changelog

build:
  stage: build
  before_script:
  - corepack enable
  - pnpm config set store-dir .pnpm-store
  - pnpm install --frozen-lockfile
  script:
  - pnpm lint
  - pnpm build
  cache:
    key:
      files:
      - pnpm-lock.yaml
    paths:
    - dist
    - .pnpm-store
    - node_modules

test:
  stage: test
  needs:
  - build
  before_script:
  - corepack enable
  - pnpm config set store-dir .pnpm-store
  script:
  - pnpm test:coverage
  cache:
    key:
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
  artifacts:
    paths:
    - coverage/
  ...

changelog:
  stage: changelog
  before_script:
  - git config user.name "CI Pipeline"
  - git config user.email "cipipeline@gitlab.justinelmore.dev"
  - git remote rm ci_origin || true
  - git remote add ci_origin $CI_REPOSITORY_URL
  - corepack enable
  - pnpm config set store-dir .pnpm-store
  ...

update changelog
  changelog/changelog.yml
Due: changelog

force pr number
  enforcer/index.js
  generate/index.js
  src/lib/generate.ts
Due: none

enforcer test
  enforcer/index.js
  src/lib/generate.ts
Due: none

remove default pr number
  enforcer/index.js
  src/lib/generate.ts
Due: none

Updated distributed actions.
  generate/index.js
Due: none

fix prNumber not working
  enforcer/index.js
  generate/index.js
  src/lib/generate.ts
Due: none

log current version
  src/lib/generate.ts
Due: none

add pr number to enforcer to get a better preview.
  src/actions/enforcer.ts
Due: none

Updated distributed actions.
  enforcer/index.js
  generate/index.js
Due: none

add logging (#75)
  changelog/changelog.yml
  enforcer/index.js
  generate/index.js
  src/actions/enforcer.ts
  src/lib/generate.ts
Due: changelog

update changelog package
  package.json
  pnpm-lock.yaml
Due: none

remove templates and mustache
  enforcer/templates/change.md
  enforcer/templates/config.yml
  enforcer/templates/guide.md
  enforcer/templates/heading.md
  enforcer/templates/links.md
  enforcer/templates/notice.md
  enforcer/templates/release-notes.md
  enforcer/templates/version.md
  generate/templates/change.md
  generate/templates/config.yml
  generate/templates/guide.md
  generate/templates/heading.md
  generate/templates/links.md
  generate/templates/notice.md
  generate/templates/release-notes.md
  generate/templates/version.md
  notes/templates/change.md
  notes/templates/config.yml
  notes/templates/guide.md
  notes/templates/heading.md
  notes/templates/links.md
  notes/templates/notice.md
  notes/templates/release-notes.md
  notes/templates/version.md
  package.json
  pnpm-lock.yaml
  src/lib/mustache.ts
  templates/change.md
  templates/config.yml
  templates/guide.md
  templates/heading.md
  templates/links.md
  templates/notice.md
  templates/release-notes.md
  templates/version.md
Due: none

add reference links
  src/lib/generate.test.ts
  src/lib/generate.ts
  src/lib/releaseNotes.test.ts
  src/lib/releaseNotes.ts
  src/types.ts
Due: build, test

update json schema
  schemas/changlelog.json
Due: none

update changelog
  changelog/test.yml
Due: changelog

fix linting
  src/types.ts
Due: build, test

Updated distributed actions.
  enforcer/index.js
  generate/index.js
  notes/index.js
Due: none

remove npm rc
  .npmrc
Due: none

update schema
  schemas/changlelog.json
Due: none

fix schema
  schemas/changlelog.json
Due: none

fix reference links on release
  changelog/fix.yml
  src/lib/generate.ts
Due: changelog

uncomment
  src/lib/generate.ts
Due: none

fix reference links on release (#81)
  changelog/fix.yml
  enforcer/index.js
  generate/index.js
  src/lib/generate.ts
Due: changelog

fix unreleased
  src/lib/generate.ts
Due: none

fix link
  CHANGELOG.md
Due: none

add commit sha reference links
  README.md
  action.yml
  changelog/commit.yml
  src/actions/enforcer.ts
  src/actions/generate.ts
  src/index.ts
  src/lib/config.ts
  src/lib/generate.ts
Due: build, test, changelog

add commit sha reference links (#82)
  README.md
  action.yml
  changelog/commit.yml
  enforcer/index.js
  generate/index.js
  notes/index.js
  src/actions/enforcer.ts
  src/actions/generate.ts
  src/index.ts
  src/lib/config.ts
  src/lib/generate.ts
Due: build, test, changelog

remove unrelease
  CHANGELOG.md
Due: none

revert to using inline links
  CHANGELOG.md
  changelog/links.yml
  src/lib/generate.test.ts
  src/lib/generate.ts
  src/types.ts
Due: build, test, changelog

revert to using inline links (#83)
  CHANGELOG.md
  changelog/links.yml
  enforcer/index.js
  generate/index.js
  src/lib/generate.test.ts
  src/lib/generate.ts
  src/types.ts
Due: build, test, changelog

fix missing links
  CHANGELOG.md
Due: none

log enforcer
  .github/workflows/build.yml
  enforcer/index.js
  src/actions/enforcer.ts
Due: none

log regex body
  enforcer/index.js
  src/actions/enforcer.ts
Due: none

Path conditions:
  build: any of: src/*
  test: any of: src/*
  changelog: any of: changelog/*.yml, changelog/*.toml
