Repository jelmore1674/build-changelog: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, test, changelog

build:
  stage: build
  before_script:
  - corepack enable
  - pnpm config set store-dir .pnpm-store
  - pnpm install --frozen-lockfile
  script:
  - pnpm lint
  - pnpm build
  cache:
    key:
      files:
      - pnpm-lock.yaml
    paths:
    - dist
    - .pnpm-store
    - node_modules

test:
  stage: test
  needs:
  - build
  before_script:
  - corepack enable
  - pnpm config set store-dir .pnpm-store
  script:
  - pnpm test:coverage
  cache:
    key:
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
  artifacts:
    paths:
    - coverage/
  ...

changelog:
  stage: changelog
  before_script:
  - git config user.name "CI Pipeline"
  - git config user.email "cipipeline@gitlab.justinelmore.dev"
  - git remote rm ci_origin || true
  - git remote add ci_origin $CI_REPOSITORY_URL
  - corepack enable
  - pnpm config set store-dir .pnpm-store
  ...

reimplement tests with memfs
  src/lib/generate/index.test.ts
  src/lib/generate/index.ts
  src/lib/generate/test/index.ts
Due: none

split to util
  src/utils/addGitTagPrefix/index.ts
Due: none

add tests
  src/utils/cleanUpChangelog/index.test.ts
  src/utils/getChangeCount/index.test.ts
  src/utils/getChangeCount/index.ts
Due: none

udpate types
  src/types.ts
Due: build, test

udpate release notes and tests to use memfs
  src/lib/releaseNotes/index.test.ts
  src/lib/releaseNotes/index.ts
Due: none

update biome and package.json
  biome.json
  package.json
Due: none

fix releaseNotes
  src/lib/releaseNotes/index.test.ts
  src/lib/releaseNotes/index.ts
Due: none

Updated distributed actions.
  enforcer/index.js
  generate/index.js
  notes/index.js
Due: none

update changelog
  changelog/changes.yml
Due: changelog

Feature/refactor generate (#109)
  biome.json
  changelog/changes.yml
  enforcer/index.js
  generate/index.js
  notes/index.js
  package.json
  pnpm-lock.yaml
  src/actions/enforcer.ts
  src/actions/generate.ts
  src/actions/utils/compareChangelogs/index.ts
  src/actions/utils/getPullRequestInfo/index.ts
  src/actions/utils/stringToBoolean.ts
  src/consts.ts
  src/index.ts
  src/lib/config/index.ts
  src/lib/format/formatAuthor/index.test.ts
  src/lib/format/formatAuthor/index.ts
  src/lib/format/formatChangeMessage/index.test.ts
  src/lib/format/formatChangeMessage/index.ts
  src/lib/format/formatCommitSha/index.test.ts
  src/lib/format/formatCommitSha/index.ts
  src/lib/format/formatReferences/index.test.ts
  src/lib/format/formatReferences/index.ts
  src/lib/generate/index.test.ts
  src/lib/generate/index.ts
  src/lib/generate/test/index.ts
  src/lib/releaseNotes/index.test.ts
  src/lib/releaseNotes/index.ts
  src/types.ts
  src/utils/addGitTagPrefix/index.ts
  src/utils/cleanUpChangelog/index.test.ts
  src/utils/getChangeCount/index.test.ts
  src/utils/getChangeCount/index.ts
  src/utils/sortBreakingChanges/index.test.ts
  src/utils/sortBreakingChanges/index.ts
  tsconfig.json
  vitest.config.mts
Due: build, test, changelog

fix heading
  src/lib/generate/index.ts
Due: none

set concurrency in workflow
  .github/workflows/enforcer.yml
Due: none

move getAuthorName
  src/actions/utils/getAuthorName.ts
  src/actions/utils/getAuthorName/index.test.ts
  src/actions/utils/getAuthorName/index.ts
Due: none

setup github for nock
  src/actions/utils/github.ts
Due: none

update genearate action author
  src/actions/generate.ts
Due: none

configure new authur object
  package.json
  pnpm-lock.yaml
  src/lib/format/formatAuthor/index.test.ts
  src/lib/format/formatAuthor/index.ts
  src/lib/format/formatChangeMessage/index.test.ts
  src/lib/format/formatChangeMessage/index.ts
  src/lib/generate/index.test.ts
  src/lib/generate/index.ts
  vitest.config.mts
Due: none

update changelog
  changelog/prAuthor.yml
Due: changelog

Updated distributed actions.
  enforcer/index.js
  generate/index.js
Due: none

Fix/pr author (#115)
  changelog/prAuthor.yml
  enforcer/index.js
  generate/index.js
  package.json
  pnpm-lock.yaml
  src/actions/generate.ts
  src/actions/utils/getAuthorName.ts
  src/actions/utils/getAuthorName/index.test.ts
  src/actions/utils/getAuthorName/index.ts
  src/actions/utils/github.ts
  src/lib/format/formatAuthor/index.test.ts
  src/lib/format/formatAuthor/index.ts
  src/lib/format/formatChangeMessage/index.test.ts
  src/lib/format/formatChangeMessage/index.ts
  src/lib/generate/index.test.ts
  src/lib/generate/index.ts
  vitest.config.mts
Due: changelog

fix crash when no changelog on enforcer
  src/actions/utils/compareChangelogs/index.ts
Due: none

Updated distributed actions.
  enforcer/index.js
Due: none

update changelog
  changelog/fix.yml
Due: changelog

fix crash when no changelog on enforcer (#117)
  changelog/fix.yml
  enforcer/index.js
  src/actions/utils/compareChangelogs/index.ts
Due: changelog

add auto versioning and change to generate
  src/lib/generate/index.test.ts
  src/lib/generate/index.ts
  src/lib/generate/test/index.ts
Due: none

update types
  src/consts.ts
  src/types.ts
Due: build, test

ad autoIncrementUnreleasedChange util
  src/utils/autoIncrementUnreleasedChanges/index.test.ts
  src/utils/autoIncrementUnreleasedChanges/index.ts
Due: none

add auto_verioning type
  src/lib/config/index.ts
Due: none

ensure latest version stays
  src/lib/generate/index.test.ts
  src/lib/generate/test/index.ts
  src/utils/autoIncrementUnreleasedChanges/index.test.ts
  src/utils/autoIncrementUnreleasedChanges/index.ts
Due: none

update json schema
  schemas/changlelog.json
Due: none

add changelog
  changelog/change.yml
Due: changelog

fix linting
  src/utils/autoIncrementUnreleasedChanges/index.ts
Due: none

update action input
  README.md
  action.yml
Due: none

fix build
  src/utils/autoIncrementUnreleasedChanges/index.ts
Due: none

Updated distributed actions.
  generate/index.js
Due: none

add auto_versioning input
  src/actions/generate.ts
Due: none

updaet release date
  src/lib/generate/index.ts
Due: none

Path conditions:
  build: any of: src/*
  test: any of: src/*
  changelog: any of: changelog/*.yml, changelog/*.toml
