Repository jelmore1674/build-changelog: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, test, changelog

build:
  stage: build
  before_script:
  - corepack enable
  - pnpm config set store-dir .pnpm-store
  - pnpm install --frozen-lockfile
  script:
  - pnpm lint
  - pnpm build
  cache:
    key:
      files:
      - pnpm-lock.yaml
    paths:
    - dist
    - .pnpm-store
    - node_modules

test:
  stage: test
  needs:
  - build
  before_script:
  - corepack enable
  - pnpm config set store-dir .pnpm-store
  script:
  - pnpm test:coverage
  cache:
    key:
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
  artifacts:
    paths:
    - coverage/
  ...

changelog:
  stage: changelog
  before_script:
  - git config user.name "CI Pipeline"
  - git config user.email "cipipeline@gitlab.justinelmore.dev"
  - git remote rm ci_origin || true
  - git remote add ci_origin $CI_REPOSITORY_URL
  - corepack enable
  - pnpm config set store-dir .pnpm-store
  ...

chore(deps): update dependency @types/node to v22.13.4 (#91)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update pnpm to v10.4.0 (#92)
  package.json
Due: none

chore(deps): update pnpm to v10.5.0 (#90)
  package.json
Due: none

chore(deps): update dependency typescript to v5.8.2 (#93)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update vitest monorepo to v3.0.7 (#91)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update pnpm to v10.5.2 (#92)
  package.json
Due: none

chore(deps): update dependency @types/node to v22.13.8 (#89)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @types/node to v22.13.9 (#94)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update vitest monorepo to v3.0.8 (#95)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update pnpm to v10.6.1 (#96)
  package.json
Due: none

update renovate config
  renovate.json
Due: none

update action
  action.yml
Due: none

fix action maybe
  action.yml
Due: none

fix renovate config
  renovate.json
Due: none

get the author from the GITHUB API
  src/generate.ts
  src/lib/generate.ts
Due: build, test

update the config to handle showing the author name.
  bcl.toml
  src/lib/config.ts
Due: none

show the authors full name
  src/lib/config.ts
  src/lib/generate.ts
Due: none

update schema
  bcl.toml
  schemas/config.schema.json
Due: none

remove docker and npm publish
  .github/workflows/deploy-docker.yml
  .github/workflows/deploy-npm.yml
Due: none

update 1Password vars
  .github/workflows/build.yml
Due: none

update pipelines
  .github/workflows/changelog.yml
  .github/workflows/release.yml
Due: none

update permissions
  .github/workflows/build.yml
  .github/workflows/changelog.yml
Due: none

Updated distributed actions.
  generate/index.js
  notes/index.js
Due: none

add context log
  src/generate.ts
Due: build, test

update changelog
  changelog/author.yml
Due: changelog

restart changelog
  CHANGELOG.md
Due: none

use console.info
  src/generate.ts
Due: build, test

Updated distributed actions.
  generate/index.js
Due: none

add gnerate to enforcer
  .github/workflows/enforcer.yml
  src/enforcer.ts
  src/generate.ts
Due: build, test

Updated distributed actions.
  enforcer/index.js
  generate/index.js
Due: none

fix skip_labels
  .github/workflows/enforcer.yml
Due: none

build actions
  package.json
Due: none

build actions
  enforcer/templates/change.md
  enforcer/templates/config.yml
  enforcer/templates/guide.md
  enforcer/templates/heading.md
  enforcer/templates/links.md
  enforcer/templates/notice.md
  enforcer/templates/release-notes.md
  enforcer/templates/version.md
Due: none

update changelog
  CHANGELOG.md
Due: none

log files
  enforcer/index.js
  src/enforcer.ts
Due: build, test

log token
  enforcer/index.js
  generate/index.js
  src/generate.ts
Due: build, test

add token
  enforcer/action.yml
  enforcer/index.js
  generate/action.yml
  generate/index.js
  src/enforcer.ts
  src/generate.ts
Due: build, test

clean changelog
  CHANGELOG.md
Due: none

Feature/author name option (#4)
  .github/workflows/build.yml
  .github/workflows/changelog.yml
  .github/workflows/deploy-docker.yml
  .github/workflows/deploy-npm.yml
  .github/workflows/enforcer.yml
  .github/workflows/release.yml
  CHANGELOG.md
  bcl.toml
  enforcer/action.yml
  enforcer/index.js
  enforcer/templates/change.md
  enforcer/templates/config.yml
  enforcer/templates/guide.md
  enforcer/templates/heading.md
  enforcer/templates/links.md
  enforcer/templates/notice.md
  enforcer/templates/release-notes.md
  enforcer/templates/version.md
  generate/action.yml
  generate/index.js
  notes/index.js
  package.json
  schemas/config.schema.json
  src/enforcer.ts
  src/generate.ts
  src/lib/config.ts
  src/lib/generate.ts
Due: build, test

Path conditions:
  build: any of: src/*
  test: any of: src/*
  changelog: any of: changelog/*.yml, changelog/*.toml
