Repository jelmore1674/build-changelog: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, test, changelog

Path conditions:
  build: any of: src/*
  test: any of: src/*
  changelog: any of: changelog/*.yml, changelog/*.toml

commit
  changelog/test.yaml
Due: none

update workflow (#22)
  .github/workflows/changelog.yml
  changelog/test.yaml
Due: none

fix pipeline
  .github/workflows/changelog.yml
Due: none

fix pipeline (#23)
  .github/workflows/changelog.yml
  CHANGELOG.md
  changelog/test.yaml
Due: none

revert changelog workflow
  .github/workflows/changelog.yml
Due: none

fix default naem
  action.yml
Due: none

update envorcer to use @actions/exec
  src/enforcer.ts
Due: build, test

install @actions/exec
  package.json
  pnpm-lock.yaml
Due: none

fix missing import
  src/enforcer.ts
Due: build, test

update changelog
  changelog/enforcer.yml
Due: changelog

Updated distributed actions.
  enforcer/index.js
Due: none

update jsdoc
  src/enforcer.ts
Due: build, test

Feature/use actions exec (#24)
  CHANGELOG.md
  enforcer/index.js
  package.json
  pnpm-lock.yaml
  src/enforcer.ts
Due: build, test

fix filepath
  src/enforcer.ts
Due: build, test

remove console.log
  src/generate.ts
Due: build, test

move generate
  src/actions/generate.ts
Due: none

move to utils
  src/actions/enforcer.ts
  src/actions/generate.ts
  src/actions/utils/getAuthorName.ts
  src/actions/utils/getPrNumber.ts
Due: none

add action
  src/generate.ts
Due: build, test

update envorcer
  src/actions/enforcer.ts
  src/enforcer.ts
Due: build, test

move to actions dir
  src/actions/enforcer.ts
Due: none

Updated distributed actions.
  enforcer/index.js
  generate/index.js
Due: none

update action inputs
  action.yml
Due: none

stub test to build gql action
  changelog/test.yaml
  src/index.ts
Due: build, test

add commit with api
  src/actions/utils/commitWithApi.ts
Due: none

add commit and push
  src/actions/utils/commitAndPush.ts
Due: none

update generaet to commit
  src/actions/generate.ts
Due: none

update jsdocs
  src/lib/config.ts
Due: none

udpate templates
  templates/guide.md
Due: none

update inputs
  action.yml
Due: none

use action to create changelog fully.
  .github/workflows/changelog.yml
Due: none

update README
  README.md
Due: none

update changelog
  changelog/test.yaml
Due: none

fix linting
  src/actions/generate.ts
  src/actions/utils/commitAndPush.ts
  src/actions/utils/commitWithApi.ts
Due: none

Updated distributed actions.
  enforcer/index.js
  enforcer/templates/guide.md
  generate/index.js
  generate/templates/guide.md
  notes/templates/guide.md
Due: none

Feature/commit and push (#25)
  .github/workflows/changelog.yml
  README.md
  action.yml
  changelog/test.yaml
  enforcer/index.js
  enforcer/templates/guide.md
  generate/index.js
  generate/templates/guide.md
  notes/templates/guide.md
  src/actions/enforcer.ts
  src/actions/generate.ts
  src/actions/utils/commitAndPush.ts
  src/actions/utils/commitWithApi.ts
  src/actions/utils/getAuthorName.ts
  src/actions/utils/getPrNumber.ts
  src/enforcer.ts
  src/generate.ts
  src/index.ts
  src/lib/config.ts
  templates/guide.md
Due: build, test

updates readme
  README.md
Due: none

remove dockerfile
  Dockerfile
Due: none

fix the enforcer
  changelog/enforcer.yml
  src/actions/enforcer.ts
Due: changelog

fix the enforcer (#33)
  changelog/enforcer.yml
  enforcer/index.js
  src/actions/enforcer.ts
Due: changelog
