Repository jelmore1674/build-changelog: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, test, changelog

Path conditions:
  build: any of: src/*
  test: any of: src/*
  changelog: any of: changelog/*.yml, changelog/*.toml

update package
  package.json
  pnpm-lock.yaml
Due: none

update changelog
  CHANGELOG.md
  changelog/fixed.yml
Due: changelog

fix date
  CHANGELOG.md
Due: none

update actions
  enforcer/index.js
  generate/index.js
  notes/index.js
Due: none

add skip_commit to action.yml
  action.yml
Due: none

add if to opt out of changes to changelog
  changelog/skip-commit.yml
  src/actions/generate.ts
Due: changelog

skip_commit in release
  .github/workflows/release.yml
Due: none

Updated distributed actions.
  generate/index.js
Due: none

move git commands inside of skip
  src/actions/generate.ts
Due: none

update README.md
  README.md
Due: none

Feature/skip commit (#63)
  .github/workflows/release.yml
  README.md
  action.yml
  changelog/skip-commit.yml
  generate/index.js
  src/actions/generate.ts
Due: changelog

fix typo
  changelog/fix-skip.yml
  src/actions/generate.ts
Due: changelog

fix typo (#64)
  changelog/fix-skip.yml
  generate/index.js
  src/actions/generate.ts
Due: changelog

fix references
  changelog/fix.yml
  src/lib/generate.ts
Due: changelog

Updated distributed actions.
  enforcer/index.js
  generate/index.js
  notes/index.js
Due: none

fix references (#68)
  changelog/fix.yml
  enforcer/index.js
  generate/index.js
  notes/index.js
  src/lib/generate.ts
Due: changelog

wip-keep cl
  changelog/test.yml
Due: changelog

remove init
  src/lib/init.test.ts
  src/lib/init.ts
Due: none

move isTomlOrYaml to utils
  src/utils/isTomlOrYamlFile.test.ts
  src/utils/isTomlOrYamlFile.ts
Due: none

move cleanUpChangelog to utils
  src/utils/cleanUpChangelog.ts
Due: none

remove init
  src/index.ts
Due: build, test

remove archive
  src/lib/config.ts
  src/lib/releaseNotes.ts
Due: none

allow 3 different type of changelog entries.
  src/lib/generate.test.ts
  src/lib/generate.ts
  src/lib/mustache.ts
Due: none

update changelog
  changelog/test.yml
Due: changelog

sort breaking changes
  src/lib/mustache.ts
Due: none

add name override input
  README.md
  action.yml
  changelog/test.yml
  src/actions/generate.ts
  src/actions/utils/getAuthorName.ts
Due: changelog

update notice
  changelog/test.yml
Due: changelog

Feature/changelog object (#71)
  README.md
  action.yml
  changelog/test.yml
  enforcer/index.js
  generate/index.js
  notes/index.js
  src/actions/generate.ts
  src/actions/utils/getAuthorName.ts
  src/index.ts
  src/lib/config.ts
  src/lib/generate.test.ts
  src/lib/generate.ts
  src/lib/init.test.ts
  src/lib/init.ts
  src/lib/mustache.ts
  src/lib/releaseNotes.ts
  src/utils/cleanUpChangelog.ts
  src/utils/isTomlOrYamlFile.test.ts
  src/utils/isTomlOrYamlFile.ts
Due: build, test, changelog

update changelog link
  CHANGELOG.md
Due: none

update dependency
  changelog/dep.yml
  package.json
  pnpm-lock.yaml
Due: changelog

update dependency (#72)
  changelog/dep.yml
  enforcer/index.js
  generate/index.js
  notes/index.js
  package.json
  pnpm-lock.yaml
Due: changelog

add changelog
  changelog/testing.yml
Due: changelog

add logging
  src/lib/generate.ts
Due: none

Updated distributed actions.
  enforcer/index.js
  generate/index.js
Due: none

add log
  src/lib/generate.ts
Due: none
