Repository jelmore1674/build-changelog: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, test, changelog

build:
  stage: build
  before_script:
  - corepack enable
  - pnpm config set store-dir .pnpm-store
  - pnpm install --frozen-lockfile
  script:
  - pnpm lint
  - pnpm build
  cache:
    key:
      files:
      - pnpm-lock.yaml
    paths:
    - dist
    - .pnpm-store
    - node_modules

test:
  stage: test
  needs:
  - build
  before_script:
  - corepack enable
  - pnpm config set store-dir .pnpm-store
  script:
  - pnpm test:coverage
  cache:
    key:
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
  artifacts:
    paths:
    - coverage/
  ...

changelog:
  stage: changelog
  before_script:
  - git config user.name "CI Pipeline"
  - git config user.email "cipipeline@gitlab.justinelmore.dev"
  - git remote rm ci_origin || true
  - git remote add ci_origin $CI_REPOSITORY_URL
  - corepack enable
  - pnpm config set store-dir .pnpm-store
  ...

update changelog
  changelog/issue-references-from-pr.yml
  changelog/test.yml
Due: changelog

revert back to old file path
  src/lib/generate.test.ts
  src/lib/generate.ts
Due: none

Updated distributed actions.
  enforcer/index.js
  generate/index.js
Due: none

log pr body (#99)
  changelog/issue-references-from-pr.yml
  enforcer/index.js
  generate/index.js
  src/actions/generate.ts
  src/actions/utils/compareChangelogs.ts
  src/actions/utils/getPrNumber.ts
  src/actions/utils/getPrReferences.ts
  src/index.ts
  src/lib/generate.ts
  src/types.ts
  src/utils/parseChanges.ts
Due: build, test, changelog

add import aliases
  biome.json
  tsconfig.json
Due: none

move types
  src/types/index.ts
Due: none

move utils to dir
  src/utils/capitalizeFirstLetter/index.test.ts
  src/utils/capitalizeFirstLetter/index.ts
  src/utils/cleanUpChangelog/index.ts
  src/utils/getChangeCount/index.ts
  src/utils/getParser/index.test.ts
  src/utils/getParser/index.ts
  src/utils/isTomlFile/index.test.ts
  src/utils/isTomlFile/index.ts
  src/utils/isTomlOrYamlFile/index.test.ts
  src/utils/isTomlOrYamlFile/index.ts
  src/utils/isYamlFile/index.test.ts
  src/utils/isYamlFile/index.ts
  src/utils/log/index.ts
  src/utils/parseChanges/index.ts
Due: none

update import
  src/lib/generate.ts
Due: none

update aliases
  tsconfig.json
  vitest.config.mts
Due: none

revert types
  src/types.ts
Due: build, test

fix import
  src/utils/parseChanges/index.ts
Due: none

reorganize lib
  src/lib/config/index.ts
  src/lib/generate/index.test.ts
  src/lib/generate/index.ts
  src/lib/readline/index.test.ts
  src/lib/readline/index.ts
  src/lib/releaseNotes/index.test.ts
  src/lib/releaseNotes/index.ts
Due: none

update improts
  src/actions/enforcer.ts
  src/actions/utils/addChangelogDependabot.ts
  src/actions/utils/commitWithApi.ts
  src/actions/utils/compareChangelogs.ts
  src/actions/utils/getPrReferences.ts
  src/actions/utils/validateInput.ts
Due: none

update code organization
  enforcer/index.js
  generate/index.js
  notes/index.js
Due: none

fix test path
  src/lib/generate/index.test.ts
Due: none

fix typo in changelog
  CHANGELOG.md
Due: none

try catch api call
  enforcer/index.js
  generate/index.js
  src/actions/utils/getPrReferences.ts
Due: none

try catch
  CHANGELOG.md
  enforcer/index.js
  generate/index.js
  src/actions/utils/getPrReferences.ts
Due: none

test change
  generate/index.js
  src/actions/generate.ts
Due: none

changelog
  CHANGELOG.md
Due: none

find the error
  CHANGELOG.md
  enforcer/index.js
  generate/index.js
  src/actions/utils/getPrReferences.ts
Due: none

try this
  CHANGELOG.md
  enforcer/index.js
  generate/index.js
  src/actions/utils/getPrReferences.ts
Due: none

update code organization
  notes/index.js
Due: none

fix complexity
  enforcer/index.js
  generate/index.js
  src/actions/generate.ts
Due: none

udpate changelog
  changelog/fix.yml
Due: changelog

Feature/reorganization (#106)
  biome.json
  changelog/fix.yml
  enforcer/index.js
  generate/index.js
  notes/index.js
  src/actions/enforcer.ts
  src/actions/generate.ts
  src/actions/utils/addChangelogDependabot.ts
  src/actions/utils/commitWithApi.ts
  src/actions/utils/compareChangelogs.ts
  src/actions/utils/getPrReferences.ts
  src/actions/utils/validateInput.ts
  src/lib/config/index.ts
  src/lib/generate/index.test.ts
  src/lib/generate/index.ts
  src/lib/readline/index.test.ts
  src/lib/readline/index.ts
  src/lib/releaseNotes/index.test.ts
  src/lib/releaseNotes/index.ts
  src/utils/capitalizeFirstLetter/index.test.ts
  src/utils/capitalizeFirstLetter/index.ts
  src/utils/cleanUpChangelog/index.ts
  src/utils/getChangeCount/index.ts
  src/utils/getParser/index.test.ts
  src/utils/getParser/index.ts
  src/utils/isTomlFile/index.test.ts
  src/utils/isTomlFile/index.ts
  src/utils/isTomlOrYamlFile/index.test.ts
  src/utils/isTomlOrYamlFile/index.ts
  src/utils/isYamlFile/index.test.ts
  src/utils/isYamlFile/index.ts
  src/utils/log/index.ts
  src/utils/parseChanges/index.ts
  tsconfig.json
  vitest.config.mts
Due: changelog

add github-action-helper
  package.json
  pnpm-lock.yaml
Due: none

updat taplo
  .taplo.toml
Due: none

add GenerateConfig type to be reused
  src/types.ts
Due: build, test

add tryCatch to utils
  src/utils/tryCatch/index.ts
Due: none

Path conditions:
  build: any of: src/*
  test: any of: src/*
  changelog: any of: changelog/*.yml, changelog/*.toml
