Repository jelmore1674/build-changelog: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, test, changelog

Path conditions:
  build: any of: src/*
  test: any of: src/*
  changelog: any of: changelog/*.yml, changelog/*.toml

refactor action utils to use github action helper and tryCatch
  src/actions/utils/botCommentOnPr/index.ts
  src/actions/utils/compareChangelogs.ts
  src/actions/utils/compareChangelogs/index.ts
  src/actions/utils/getPrNumber.ts
  src/actions/utils/getPrReferences.ts
  src/actions/utils/getPullRequestInfo/index.ts
  src/actions/utils/getReferencesFromBody/index.ts
Due: none

update to use helpers
  src/actions/enforcer.ts
Due: none

update actions
  enforcer/index.js
  generate/index.js
  src/actions/generate.ts
Due: none

update changelog
  changelog/fix.yml
Due: changelog

add groups
  .github/workflows/enforcer.yml
  enforcer/index.js
  src/actions/enforcer.ts
  src/actions/utils/compareChangelogs/index.ts
Due: none

add count log
  enforcer/index.js
  src/actions/utils/compareChangelogs/index.ts
Due: none

move addChangelogDependabot
  src/actions/utils/addChangelogDependabot/index.ts
Due: none

update addChangelogDependabot to use helpers
  src/actions/utils/addChangelogDependabot/index.ts
Due: none

update logging
  src/actions/utils/compareChangelogs/index.ts
Due: none

remove validations
  src/actions/utils/validations/validateChangelogStyle.ts
  src/actions/utils/validations/validateDependabotSection.ts
  src/actions/utils/validations/validateReleaseTypes.ts
Due: none

remove unused old helpers
  src/actions/utils/commitWithApi.ts
  src/actions/utils/validateInput.ts
Due: none

update generate to use helpers
  src/actions/generate.ts
Due: none

update actions
  changelog/fix.yml
  enforcer/index.js
  generate/index.js
Due: changelog

fix duplicate pr comments
  enforcer/index.js
  src/actions/utils/botCommentOnPr/index.ts
Due: none

Feature/implement GitHub action helpers (#108)
  .github/workflows/enforcer.yml
  .taplo.toml
  changelog/fix.yml
  enforcer/index.js
  generate/index.js
  package.json
  pnpm-lock.yaml
  src/actions/enforcer.ts
  src/actions/generate.ts
  src/actions/utils/addChangelogDependabot/index.ts
  src/actions/utils/botCommentOnPr/index.ts
  src/actions/utils/commitWithApi.ts
  src/actions/utils/compareChangelogs.ts
  src/actions/utils/compareChangelogs/index.ts
  src/actions/utils/getPrNumber.ts
  src/actions/utils/getPrReferences.ts
  src/actions/utils/getPullRequestInfo/index.ts
  src/actions/utils/getReferencesFromBody/index.ts
  src/actions/utils/validateInput.ts
  src/actions/utils/validations/validateChangelogStyle.ts
  src/actions/utils/validations/validateDependabotSection.ts
  src/actions/utils/validations/validateReleaseTypes.ts
  src/types.ts
  src/utils/tryCatch/index.ts
Due: build, test, changelog

fix input
  changelog/fix.yml
  enforcer/index.js
  generate/index.js
  package.json
  pnpm-lock.yaml
Due: changelog

add formatAuthor
  src/lib/format/formatAuthor/index.test.ts
  src/lib/format/formatAuthor/index.ts
Due: none

add formatChange
  src/lib/format/formatChangeMessage/index.test.ts
  src/lib/format/formatChangeMessage/index.ts
Due: none

add format commit sha
  src/lib/format/formatCommitSha/index.test.ts
  src/lib/format/formatCommitSha/index.ts
Due: none

add format references
  src/lib/format/formatReferences/index.test.ts
  src/lib/format/formatReferences/index.ts
Due: none

add util sort breaking changes
  src/utils/sortBreakingChanges/index.test.ts
  src/utils/sortBreakingChanges/index.ts
Due: none

remove archive
  src/lib/config/index.ts
Due: none

refactor generateCommand and fix bug
  changelog/changes.yml
  package.json
  pnpm-lock.yaml
  src/actions/generate.ts
  src/actions/utils/compareChangelogs/index.ts
  src/consts.ts
  src/index.ts
  src/lib/config/index.ts
  src/lib/generate/index.test.ts
  src/lib/generate/index.ts
  src/lib/generate/test/index.ts
  src/lib/releaseNotes/index.test.ts
  tsconfig.json
  vitest.config.mts
Due: build, test, changelog

fix sort
  src/lib/generate/index.test.ts
  src/utils/sortBreakingChanges/index.ts
Due: none

update actions
  enforcer/index.js
  generate/index.js
  notes/index.js
  src/actions/utils/compareChangelogs/index.ts
  src/lib/generate/index.ts
Due: none

log error
  src/actions/enforcer.ts
Due: none

udpate enforcer
  enforcer/index.js
Due: none

debug issue
  enforcer/index.js
  generate/index.js
  src/actions/utils/getPullRequestInfo/index.ts
Due: none

log enforcer
  enforcer/index.js
  src/actions/utils/compareChangelogs/index.ts
Due: none

update enforcer
  enforcer/index.js
  src/actions/utils/compareChangelogs/index.ts
Due: none

try to debug where crash happens
  enforcer/index.js
  src/actions/utils/compareChangelogs/index.ts
Due: none

try catch
  enforcer/index.js
  src/actions/enforcer.ts
  src/actions/utils/compareChangelogs/index.ts
  src/enforcer.ts
Due: build, test

let action
  enforcer/index.js
  src/actions/utils/compareChangelogs/index.ts
  src/enforcer.ts
Due: build, test

fix enforcer
  enforcer/index.js
  src/actions/enforcer.ts
  src/enforcer.ts
Due: build, test

try empty boyd
  enforcer/index.js
  src/actions/enforcer.ts
  src/actions/utils/getReferencesFromBody/index.ts
Due: none

try this
  enforcer/index.js
  src/actions/utils/getPullRequestInfo/index.ts
  src/actions/utils/getReferencesFromBody/index.ts
Due: none

Updated distributed actions.
  generate/index.js
Due: none

improve error handling
  src/actions/utils/getPullRequestInfo/index.ts
  src/actions/utils/stringToBoolean.ts
Due: none

remove test ocnfig
  src/lib/config/index.ts
Due: none
