Repository jelmore1674/build-changelog: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, test, changelog

.gitlab-ci.yml:

# You can override the included template(s) by including variable overrides
# SAST customization: https://docs.gitlab.com/ee/user/application_security/sast/#customizing-the-sast-settings
# Secret Detection customization: https://docs.gitlab.com/ee/user/application_security/secret_detection/pipeline/#customization
# Dependency Scanning customization: https://docs.gitlab.com/ee/user/application_security/dependency_scanning/#customizing-the-dependency-scanning-settings
# Container Scanning customization: https://docs.gitlab.com/ee/user/application_security/container_scanning/#customizing-the-container-scanning-settings
# Note that environment variables can be set in several places
# See https://docs.gitlab.com/ee/ci/variables/#cicd-variable-precedence
include:
  - template: Security/SAST.gitlab-ci.yml

image: node:20

stages:
  - build
  - test
  - deploy
  - changelog
  - release
  - security

build:
  stage: build
  before_script:
    - corepack enable
    - pnpm config set store-dir .pnpm-store
    - pnpm install --frozen-lockfile
  script:
    - pnpm lint
    - pnpm build
  rules:
    - changes:
        - src/*
  cache:
    key:
      files:
        - pnpm-lock.yaml
    paths:
      - ".pnpm-store"
      - node_modules

test:
  stage: test
  needs:
    - build
  before_script:
    - corepack enable
    - pnpm config set store-dir .pnpm-store
  script:
    - pnpm test
  rules:
    - changes:
        - src/*
  cache:
    key:
      files:
        - pnpm-lock.yaml
    paths:
      - ".pnpm-store"
      - node_modules

changelog:
  stage: changelog
  before_script:
    # in order to commit we have to have a user set
    # this would also make it easy to distinct the CI-made commits
    - git config user.name "CI Pipeline"
    - git config user.email "cipipeline@gitlab.justinelmore.dev"
    - git remote rm ci_origin || true
    - git remote add ci_origin $CI_REPOSITORY_URL
    ## Setup project
    - corepack enable
    - pnpm config set store-dir .pnpm-store
    - pnpm install --frozen-lockfile
    - pnpm lint
    - pnpm build
    - npm i -g .
  script:
    # Build changelog
    - build-cl generate
    # Check if changelog is updated.
    # Commit to git
    - git add .
      # We can use `-o ci.skip`, but AFAIK it doesn't work for Merge Request pipelines, while having it inside the commit message works there as well
    - git commit -m "Generated Changelog [skip ci]" || true
    - git push ci_origin HEAD:$CI_COMMIT_REF_NAME
  rules:
    - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main"
      changes:
        - changelog/*.yml
        - changelog/*.toml
  cache:
    key:
      files:
        - pnpm-lock.yaml
    paths:
      - ".pnpm-store"
      - node_modules

release:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  script: echo "Creating release $CI_COMMIT_TAG"
  rules:
    - if: $CI_COMMIT_TAG
      when: manual
    - when: never
  release:
    tag_name: $CI_COMMIT_TAG
    description: "Release $CI_COMMIT_TAG of build-changelog in $CI_PROJECT_PATH"

publish-npm:
  stage: deploy
  needs:
    - release
  variables:
    REGISTRY: "@jelmore1674:registry=https://${CI_SERVER_HOST}/api/v4/projects/${CI_PROJECT_ID}/packages/npm/"
    TOKEN: "//${CI_SERVER_HOST}/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${CI_JOB_TOKEN}"
  before_script:
    - corepack enable
    - pnpm config set store-dir .pnpm-store
    - pnpm install --frozen-lockfile
    - pnpm build
  script:
    - echo $REGISTRY > .npmrc
    - echo $TOKEN >> .npmrc
    - npm publish
  rules:
    - if: $CI_COMMIT_TAG && '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main"'
  cache:
    key:
      files:
        - pnpm-lock.yaml
    paths:
      - ".pnpm-store"
      - node_modules

sast:
  stage: security

fix pipeline
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

bump version number
  changelog/archive.toml
  package.json
  src/index.ts
Due: build, test, changelog

fix archive
  .gitignore
  changelog/archive.toml
Due: changelog

Generated Changelog
  CHANGELOG.md
Due: none

setup schema for config
  .taplo.toml
  bcl.toml
Due: none

update pipeline
  .gitlab-ci.yml
Due: none

bump version
  changelog/archive.yml
  changelog/test.toml
  package.json
  src/index.ts
Due: build, test, changelog

Generated Changelog
  CHANGELOG.md
  changelog/archive.toml
  changelog/test.toml
Due: changelog

bump version
  package.json
  src/index.ts
Due: build, test

Feature/release notes
  .gitlab-ci.yml
  bcl.yml
  changelog/release.toml
  package.json
  src/index.ts
  src/lib/mustache.ts
  src/lib/releaseNotes.ts
  templates/release-notes.md
Due: build, test, changelog

Generated Changelog
  CHANGELOG.md
  changelog/archive.toml
  changelog/release.toml
Due: changelog

fix the init command
  changelog/change.toml
  package.json
  src/lib/init.ts
  src/lib/readline.ts
Due: changelog

bump version
  src/index.ts
Due: build, test

udpate changelog
  changelog/change.toml
Due: changelog

Generated Changelog
  CHANGELOG.md
  changelog/archive.toml
  changelog/change.toml
Due: changelog

add docker
  .gitlab-ci.yml
  Dockerfile
Due: none

remove security
  .gitlab-ci.yml
Due: none

add global cache
  .gitlab-ci.yml
Due: none

fix pipeline
  .gitlab-ci.yml
  src/index.ts
Due: build, test

update text
  src/index.ts
Due: build, test

test commit (!5)
  Dockerfile
Due: none

fix changelog archive file missing causing creash
  src/lib/generate.ts
Due: none

fix init not setting the correct config file
  src/lib/init.ts
Due: none

fix commands
  changelog/fix-init.yml
  package.json
  src/index.ts
  src/lib/init.ts
Due: build, test, changelog

update pipeline
  .gitlab-ci.yml
  changelog/fix-init.yml
Due: changelog

Generated Changelog
  CHANGELOG.md
  changelog/archive.toml
  changelog/fix-init.yml
Due: changelog

set latest branch
  .gitlab-ci.yml
Due: none

set latest docker build component
  .gitlab-ci.yml
Due: none

bump versions
  package.json
  src/index.ts
Due: build, test

add test coverage to repo
  .gitlab-ci.yml
Due: none

udpate pipeline
  .gitlab-ci.yml
Due: none

add jq to Dockerfile
  Dockerfile
Due: none

rename to bcl
  package.json
Due: none

drop changelog alias
  src/index.ts
Due: build, test
